

a.group-card {
    color: #252830;
    background-color: #fff;
    display: inline-block;
    padding: 15px;
    border-radius: 3px;
    font-weight: bolder;
    margin: 10px 20px 10px 0px;
    text-decoration: none;
}

span.group-unread-count {
    border-radius: 50%;
    padding: 5px;
    font-size: 10px;
    color: #ffffff;
    top: -10px;
    right: -10px;
    width: 25px;
    height: 25px;
    text-align: center;
    display: inline-block;
    position: relative;
    float: right;
}

a.group-card:hover {
    background-color: rgba(255, 255, 255, 0.8);
}