.search-results > div {
  padding: 10px;
  margin: 10px 0px;
  border-radius: 3px;
  cursor: pointer;
  &:hover {
    background-color: $primary-color;
  }
}

.search-pages {
  margin: 10px;
  a {
    margin-right: 15px;
    padding: 3px 15px;
    background-color: $primary-color;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
  }
}