.dashboard-menu {
  display: inline-block;
  margin-right: 30px;
  top: 1px;
  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }
  li {
    margin: 10px 0px;
  }
  li > a {
    color: #ccc9c9;
    text-decoration: none;
    padding: 10px;
    display: block;
    width: 200px;
    font-size: 14px;
    &.active {
      background-color: $primary-color;
      border-radius: 3px;
      &:hover {
        color: #ccc9c9;
      }
    }
    &:hover {
      color: #fff;
    }
  }
}

.page-container.container-fluid {
  min-height: 350px;
}
.page-content {
  display: inline-block;
}

.group-unread-count {
  border-radius: 50%;
  padding: 5px;
  font-size: 10px;
  color: #ffffff;
  top: -10px;
  right: -10px;
  width: 25px;
  height: 25px;
  text-align: center;
  display: inline-block;
  position: relative;
}

.badge-danger {
    background-color: #d9534f;
}