.message-type {
  font-size: 10px;
  padding: 2px 10px;
  border-radius: 3px;
  color: #252830;
  font-weight: bolder;
  &.urgent {
     background-color: #FFC107;
  }
  &.critical {
     background-color: #FF5722;
  }
  &.normal {
     background-color: #CDDC39;
  }
}
 
.message-container {
  color: #252830;
  margin-bottom: 15px;
  display: inline-block;
}

.message-details, .message, .message-read-list {
  display: inline-block;
  padding: 5px;
  background-color: #fff;
  border-radius: 3px;
  margin: 5px 0px 0px;
  font-size: 13px;
}

.message-details {
  margin-right: 5px;
  float: left;
}

.message-read-list {
  float: left;
}

.message {
  float: left;
}

.new-message {
  position: sticky;
  bottom: -1px;
  background-color: #252830;
  padding: 15px 0px;
  width: 100%;
  display: inline-block;
}

.message-box {
  display: inline-block;
  border: none;
  background-color: #fff;
  color: #252830;
  padding: 10px;
  border-radius: 3px;
  max-width: 702px;
  min-width: 100%;
  height: auto;
  resize: none; 
}

.messenger {
  margin-right: 10px;
}

.priority-level {
  display: inline-block;
  width: 100px;
}