body {
  background-color: #252830;
  color: #fff;
}

a {
  color: #26a69a;
}

.page-title {
  font-size: 30px;
  display: block;
  text-decoration: none;
  color: #fff;
  span {
    font-size: 15px;
    margin-left: 5px;
    text-transform: uppercase;
    border-bottom: 3px solid #26a69a;
    display: inline;
    position: relative;
    top: -7px;
      font-weight: bolder;
    }
    &:hover {
      text-decoration: none;
      color: #fff;
    }
}

.action-btn {
    margin: 5px 10px 5px 0px;
}

.container {
    margin-left: 100px;
}

.modal {
  color: #131418;
}

.page-container p {
  font-size: 25px;
}

.page-header {
    margin: 50px 0px;
}

footer img {
  width: 80px;
}

footer section {
  display: inline-block;
  margin: 20px 50px 20px 0px;
  vertical-align: top;
}