.steps{
  margin-top: 30px;
  * {
    font-size: 20px;
    margin-bottom: 15px;
  }
}

.action-buttons {
    margin-top: 30px
}

$primary-color: #0275d8;
$primary-color-hover: #0684f1;
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "general";
@import "dashboard-members";
@import "dashboard-ingroup";
@import "dashboard-index";
@import "dashboard-general";

