<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PostIt</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <!-- Stylesheets -->
        <!-- Latest compiled and minified Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link href="css/general.css" rel="stylesheet">
        <link href="css/dashboard-general.css" rel="stylesheet">
        <link href="css/dashboard-members.css" rel="stylesheet">
   </head>
    <body>

        <header class="page-header container-fluid mt-5">
            <div class="page-title container justify-content-center align-items-center">Post<span>It</span></div>
        </header>

        <section class="page-container container-fluid">
            <div class="container justify-content-center align-items-center">
                <aside class="dashboard-menu">
                    <ul>
                        <li>
                            <a href="dashboard-index.html">My Groups</a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#createGroupModal">Create Group</a>
                        </li>
                        <li>
                            <a href="dashboard-members.html" class="active">Find Member</a>
                        </li>
                        <li>
                            <a href="index.html">Logout</a>
                        </li>
                    </ul>
                </aside>
                <div class="page-content align-top col-lg-9 col-sm-12">
                    <h5>Search for members</h5>
                    <form>
                        <div>
                            <div class="form-group">
                                <input class="form-control" type="search" placeholder="Search by username"/>
                            </div>
                            <button class="btn btn-primary">Search</button>
                            <div class="search-results">
                                <div data-toggle="modal" data-target="#addToGroupModal">@michael</div>
                                <div data-toggle="modal" data-target="#addToGroupModal">@mark</div>
                                <div data-toggle="modal" data-target="#addToGroupModal">@musa</div>
                                <div data-toggle="modal" data-target="#addToGroupModal">@mirabel</div>
                            </div>
                            <div class="search-pages"><a href="#/1">Prev</a> <a href="#/2">2</a> <a href="#/3">Next</a></div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <section class="container">
            <div class="modal fade" id="createGroupModal" tabindex="-1" role="dialog" aria-labelledby="createGroupModal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createGroupModalLabel">Create a new Group</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div>
                                <div class="form-group">
                                    <label>Group Name</label>
                                    <input class="form-control" type="text"/>
                                </div>
                                <div class="form-group">
                                    <label>Group Type</label>
                                    <select class="form-control">
                                        <option>Public</option>
                                        <option>Private (invite only)</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#selectGroupMembersModal">Proceed</button>
                    </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="selectGroupMembersModal" tabindex="-1" role="dialog" aria-labelledby="selectGroupMembersModal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="selectGroupMembersModalLabel">Select members to add to group</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div>
                                <div class="form-group">
                                    <label>Search for members</label>
                                    <input class="form-control" type="search"/>
                                </div>

                                <div class="form-group">
                                    <label>People you may know</label>
                                    <div>
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">@Michael</span>
                                        </label>
                                    </div>
                                    <div>
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">@Charles</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary">Finish</button>
                    </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="addToGroupModal" tabindex="-1" role="dialog" aria-labelledby="addToGroupModal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addToGroupModalLabel">Add member to group</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div>
                                <div class="form-group">
                                    <label>Select Group</label>
                                    <select class="form-control">
                                        <option>Lagos Google Developer Experts</option>
                                        <option>Charles Obi Estate Members</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Add</button>
                    </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="container-fluid mt-5 bottom">
            <div class="container justify-content-center align-items-center">
                <section> 
                    <h5>About</h5>
                    <p><strong>PostIt</strong> is an open source web application.</p>
                </section>

                <section>
                    <h5>Made with love by</h5>
                    <div><img src="images/Landscape-white.png"/></div>
                </section>

                <section>
                    <h5>Help and support</h5>
                    <a href="#/userguide">User Guide</a></li>
                    
                </section>
            </div>
        </footer>
        <!-- Javascript -->
        <script src="js/main.js"></script>
        <!-- Latest compiled and minified Bootstrap JavaScript and Jquery-->
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
 
    </body>
</html>