<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PostIt</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <!-- Stylesheets -->
        <!-- Latest compiled and minified Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link href="css/general.css" rel="stylesheet">
        <link href="css/index.css" rel="stylesheet">
   </head>
    <body>

        <header class="page-header container-fluid mt-5">
            <a class="page-title container justify-content-center align-items-center" href="index.html">Post<span>It</span></a>
        </header>

        <section class="page-content container-fluid">
            <div class="container justify-content-center align-items-center">
                <div class="col-6 pl-0 mt-5">
                    <h5>Recover Password</h5>
                    <form>
                        <div>
                            <div class="form-group">
                                <label>Email Address</label>
                                <input class="form-control" type="email" required/>
                            </div>
                            <button class="btn btn-primary">Resend Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <footer class="container-fluid mt-5 bottom">
            <div class="container justify-content-center align-items-center">
                <section> 
                    <h5>About</h5>
                    <p><strong>PostIt</strong> is an open source web application.</p>
                </section>

                <section>
                    <h5>Made with love by</h5>
                    <div><img src="images/Landscape-white.png"/></div>
                </section>

                <section>
                    <h5>Help and support</h5>
                    <a href="#/userguide">User Guide</a></li>
                    
                </section>
            </div>
        </footer>
        <!-- Javascript -->
        <script src="js/main.js"></script>
        <!-- Latest compiled and minified Bootstrap JavaScript and Jquery-->
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
 
    </body>
</html>